<!DOCTYPE html>
<html lang="ru">

<head>
	<style>
		body {
			margin: 0;
		}

		.container {
      height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.nav {
			width: 666px;
		}

		.nav-link {
			display: block;
			font-size: 28px;
			padding: 10px;
			color: purple;
      background-color: #eee;
			text-decoration: none;
			font-family: sans-serif;
      border: 1px solid purple;
      margin-bottom: 15px;
		}
	</style>
</head>

<body>
	<div class="container">
		<nav class="nav">
			<a class="nav-link" href="frontpage.html">Home page</a>
		</nav>
	</div>
</body>

</html>