*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
}

// $neat-grid: (columns: 12,
//   gutter: 40px,
// );